extends ./layout/index.pug

block contenido

	main.container.mt-5
		.row
			.col-md-5
				img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
			.col-md-7
				h1= pagina

				blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet vehicula leo. Integer velit ante, ultricies et mauris rutrum, iaculis dignissim ipsum. Sed tincidunt aliquam consequat. Vivamus erat ante, fringilla ac leo at, pellentesque ornare elit. Ut faucibus elementum urna nec bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

				p Integer in neque neque. Ut quam dui, maximus volutpat turpis nec, ullamcorper rhoncus mauris. Ut in mollis lorem, quis scelerisque dolor. Nullam sed euismod dolor. Nam dictum molestie tortor non consequat. Etiam euismod sollicitudin felis eu vulputate. Nunc feugiat ligula in massa fermentum cursus. Quisque nisi enim, posuere vitae arcu lacinia, feugiat blandit nibh.

				p Curabitur vel sapien a nisi tincidunt fermentum. Cras sollicitudin odio in arcu ultricies malesuada. Nunc et velit eu libero efficitur tincidunt ut quis tortor. Curabitur quis iaculis mi. Vivamus vulputate sit amet sapien in elementum. Sed fermentum dapibus aliquet. Etiam a magna at lacus efficitur hendrerit vel sit amet tortor. Nam sit amet ante rutrum, sodales nibh non, pellentesque metus.

	.listado-iconos
		.container.text-center.mt-5.py-5
			.row
				.col-md-4
					img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
					h2.mb-4 Seguridad
					p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

				.col-md-4
					img(src="img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
					h2.mb-4 Destinos Exclusivos
					p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

				.col-md-4
					img(src="img/icono_precios.svg" alt="icono precios" class="img-fluid mb-4")
					h2.mb-4 Mejores Precios
					p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

